<p id="notice"><%= notice %></p>

<div class='show_label'>
  <p>
    <strong>Title:</strong>
    <%= @p.title %>
  </p>
</div>

<div class='show_label'>
  <p>
    <strong>OfficialURL:</strong>
    <%= @p.official_url %>
  </p>
</div>

<div class='show_label'>
  <p>
    <strong>Description:</strong>
    <%= simple_format(h(@p.description)) %>
  </p>
</div>

<div class='show_label'>
  <p>
    <strong>Code:</strong>
    <%= simple_format(h(@p.code)) %>
  </p>
</div>

<div class='show_label'>
  <p>
    <strong>ExerciseURL:</strong>
    <%= @p.exercise_url %>
  </p>
</div>

<%= link_to 'Edit', edit_p_path(@p) %> |
<%= link_to 'Back', ps_path %>
