<%= form_with(model: a_product20180121, local: true) do |form| %>
  <% if a_product20180121.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(a_product20180121.errors.count, "error") %> prohibited this a_product20180121 from being saved:</h2>

      <ul>
      <% a_product20180121.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a %>
    <%= form.number_field :a %>
  </div>

  <div class="field">
    <%= form.label :b %>
    <%= form.number_field :b %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
