<p id="notice"><%= notice %></p>

<h1>A Product20180121s</h1>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @a_product20180121s.each do |a_product20180121| %>
      <tr>
        <td><%= a_product20180121.a %></td>
        <td><%= a_product20180121.b %></td>
        <td><%= link_to 'Show', a_product20180121 %></td>
        <td><%= link_to 'Edit', edit_a_product20180121_path(a_product20180121) %></td>
        <td><%= link_to 'Destroy', a_product20180121, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New A Product20180121', new_a_product20180121_path %>
