<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @a_product20180121.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @a_product20180121.b %>
</p>

<%= link_to 'Edit', edit_a_product20180121_path(@a_product20180121) %> |
<%= link_to 'Back', a_product20180121s_path %>
